<div class="overlay">
  <div class="content">
    <i-feather (click)="this.closeDialog()"  class="x-close" name="x"></i-feather>
    <h1>Cadastrar novo trator</h1>
    <h2>Dados</h2>
    <form [formGroup]="registerForm">
      <div class="dropzone">
        <i-feather class="plus" name="plus"></i-feather>
      </div>
      <label>Nome</label>
      <input matInput formControlName="name" name="name" type="text">
      <button (click)="this.submitForm()" class="submit">
        Cadastrar
      </button>
    </form>

  </div>
</div>
