#dropzone{
  background: #F5F8FA;
  border: 1px dashed #96D2F0;
  box-sizing: border-box;
  border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  max-width: 386px;
  height: 170px;

  .plus{
    color: #15B6D6;
  }

  .dropzone-preview{
    width: 450px;
    height: 200px;

  }

}
